<% if(success && success.length) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
        <% if(error && error.length) {%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }%>
                <% if(register && register.length) { %>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <%= register %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <% if(maintenance && maintenance.length) { %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= maintenance %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <% } %>
                            <% if(partnerRedirect && partnerRedirect.length) { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <%= partnerRedirect %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <% } %>